<%- contentFor('add') %>
<form action="/users" method="post">
	<div>
	<label for="playerName">User name</label>
    <input type="text" name="name">		
	</div>	
	<div>
	<label for="playerName">Age</label>
    <input type="text" name="age">		
	</div>	
	<div>
  <input type="submit" value="send">
</form>

